{{!-- template-lint-disable no-inline-styles --}}
<span class="legend-icon-layer" style={{this.spanStyle}}>
  <FaIcon
    @icon={{this.options.fa-icon}}
    @transform={{this.options.transform}}
    @prefix={{this.options.prefix}}
  />
</span>
