<span class="{{iconType}}">
  {{#each icon.layers as |icon-layer|}}

    {{#if (eq icon.type 'line')}}
      {{deprecated/icons/line options=icon-layer}}
    {{/if}}

    {{#if (eq icon.type 'rectangle')}}
      {{deprecated/icons/rectangle options=icon-layer}}
    {{/if}}

    {{#if (eq icon.type 'fa-icon')}}
      {{deprecated/icons/fa-icon options=icon-layer}}
    {{/if}}

  {{/each}}
</span>
