<div class="grid-x">
  <div class="cell auto">
    {{deprecated/legend-icon icon=this.item.icon}}
    {{this.item.label}}
  </div>
  <div class="cell shrink">
    {{#if this.item.tooltip}}
      {{deprecated/icon-tooltip tip=this.item.tooltip side='left' fixedWidth=true}}
    {{/if}}
  </div>
</div>
